name: Continuous Integration

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  # Build
  build:
    name: Discord Bot Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    # Checkout
    - uses: actions/checkout@v2.3.2
      with:
        lfs: false
    # Cache
    # Setup .NET Core
    - uses: actions/setup-dotnet@v1.7.2
    # Install dependencies
    - run: dotnet restore
    # Build
    - run: dotnet publish -c Release -r win10-x64 --no-restore
    # Test
    - run: dotnet test --no-restore --verbosity normal
    # Upload
